# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/nutanix-cloud-native/cluster-api-provider-nutanix/jira/krbn-8065/templates/cluster-template-clusterclass.yaml

namePrefix:

labels:
  - includeSelectors: false
    pairs:
      cluster.x-k8s.io/provider: nutanix

patches:
  - target:
      group: cluster.x-k8s.io
      kind: ClusterClass
    patch: |-
      - op: "add"
        path: "/spec/patches"
        value:
          - name: "cluster-config"
            external:
              generateExtension: "nutanixclusterconfigpatch.capi-runtime-extensions"
              discoverVariablesExtension: "nutanixclusterconfigvars.capi-runtime-extensions"
          - name: "worker-config"
            external:
              generateExtension: "nutanixworkerconfigpatch.capi-runtime-extensions"
              discoverVariablesExtension: "nutanixworkerconfigvars.capi-runtime-extensions"
      - op: "remove"
        path: "/spec/variables"