# Copyright 2023 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: tigera-operator

sortOptions:
  order: fifo

resources:
- namespace.yaml

helmCharts:
- name: tigera-operator
  repo: https://docs.tigera.io/calico/charts
  releaseName: tigera-operator
  version: ${CALICO_VERSION}
  valuesFile: helm-values.yaml
  includeCRDs: true
  skipTests: true
  namespace: tigera-operator

namespace: tigera-operator
