# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

strict_env

export DEVBOX_NO_ENVRC_UPDATE=1

eval "$(devbox generate direnv --print-envrc --env-file .dev-envrc)"

source_env_if_exists '.envrc.local'
source_env_if_exists '.envrc.e2e'

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
