# Copyright 2023 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

repos:
- repo: local
  hooks:
  - id: schema-chart
    name: schema-chart
    entry: make schema-chart
    language: system
    files: "^charts/cluster-api-runtime-extensions-nutanix/values.yaml$"
  - id: go-generate
    name: go-generate
    entry: make go-generate
    language: system
    files: "(.*\\.go|go.mod|go.sum|go.mk)$"
    pass_filenames: false
  - id: check-coredns-versions
    name: check-coredns-versions
    entry: make coredns.sync
    language: system
    files: "^api/versions/coredns.go$"
  - id: golangci-lint
    name: golangci-lint
    entry: make lint
    language: system
    files: "(.*\\.go|go.mod|go.sum|go.mk)$"
    pass_filenames: false
  - id: kube-api-linter
    name: kube-api-linter
    entry: make lint-kube-api
    language: system
    files: "((^api/(.*\\.go|go.mod|go.sum))|go.mk)$"
    pass_filenames: false
  - id: chart-docs
    name: chart-docs
    entry: make chart-docs
    language: system
    files: "^charts/"
    pass_filenames: false
  - id: hugo-mod-tidy
    name: hugo-mod-tidy
    entry: bash -c "cd docs && hugo mod tidy"
    language: system
    files: "^docs/"
    pass_filenames: false
  - id: examples-sync
    name: examples-sync
    entry: make examples.sync
    language: system
    files: "^(hack/)?examples/"
    pass_filenames: false
  - id: apis-sync
    name: apis-sync
    entry: make apis.sync
    language: system
    files: "^(hack/third-party/|api/external/|make/apis.mk$)"
    pass_filenames: false
  - id: addons-sync
    name: addons-sync
    entry: make addons.sync
    language: system
    files: "^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)"
    pass_filenames: false
  - id: addons-repo-yaml
    name: addons-repo-yaml
    entry: make template-helm-repository
    language: system
    files: "hack/addons/helm-chart-bundler/repos.yaml"
    pass_filenames: false
  - id: check-devbox-lock
    name: check-devbox-lock
    entry: devbox install
    language: system
    files: "^devbox.(yaml|lock)$"
    pass_filenames: false
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.1
  hooks:
  - id: go-mod-tidy
    exclude: ^docs/
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    stages: [pre-commit]
  - id: check-yaml
    args: ["-m", "--unsafe"]
    stages: [pre-commit]
    exclude: ^charts/.+/(templates|addons)/.+\.ya?ml$
  - id: mixed-line-ending
    args: ["-f", "lf"]
    exclude: \.bat$
    stages: [pre-commit]
  - id: no-commit-to-branch
    stages: [pre-commit]
  - id: check-added-large-files
    stages: [pre-commit]
    exclude: ^pkg/handlers/cni/calico/manifests/tigera-operator-configmap.yaml$
  - id: check-case-conflict
    stages: [pre-commit]
  - id: check-merge-conflict
    stages: [pre-commit]
  - id: check-executables-have-shebangs
    stages: [pre-commit]
  - id: check-symlinks
    stages: [pre-commit]
  - id: end-of-file-fixer
    stages: [pre-commit]
    exclude: ^charts/cluster-api-runtime-extensions-nutanix/README.md$
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint-system
    stages: [pre-commit]
- repo: https://github.com/jorisroovers/gitlint
  rev: v0.19.1
  hooks:
  - id: gitlint
  - id: gitlint-ci
    args: ["--commits", "origin/main..HEAD"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: shfmt
    stages: [pre-commit]
    args: ["-s", "-i", "2"]
  - id: script-must-have-extension
    stages: [pre-commit]
    exclude: ^\.envrc$
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    stages: [pre-commit]
    args: ["-e", "SC2211", "-x"]
    exclude: ^\.envrc$
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
  - id: markdownlint
    stages: [pre-commit]
    exclude: ^(CHANGELOG.md|charts/.+/README.md|.github/pull_request_template.md)$
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: insert-license
    name: License headers - Go
    stages: [pre-commit]
    files: "(.*\\.go|go.mod)$"
    exclude: ^(api/external/|internal/test)
    args:
      - --license-filepath
      - hack/license-header.txt
      - --comment-style
      - //
      - --allow-past-years
  - id: insert-license
    name: License headers - YAML and Makefiles
    stages: [pre-commit]
    files: (^Makefile|\.(ya?ml|mk))$
    exclude: ^(internal/test|pkg/handlers/.+/embedded|pkg/handlers/.+/testdata|examples|charts/cluster-api-runtime-extensions-nutanix/(defaultclusterclasses|addons))/.+\.ya?ml|docs/static/helm/index\.yaml|charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml|hack/examples/files/kube-vip.yaml|$
    args:
      - --license-filepath
      - hack/license-header.txt
      - --allow-past-years
  - id: insert-license
    name: License headers - Markdown
    stages: [pre-commit]
    files: \.md$
    exclude: ^(CHANGELOG.md$|docs/|.github/pull_request_template.md$)
    args:
      - --license-filepath
      - hack/license-header.txt
      - --comment-style
      - <!--|| -->
      - --allow-past-years
