clusterctl 1.4.3
flux2 0.41.2
gcloud 434.0.0
ginkgo 2.10.0
github-cli 2.30.0
gojq 0.12.13
golang 1.20.5
golangci-lint 1.53.2
goreleaser 1.18.2
helm 3.12.0
helm-ct 3.8.0
helm-docs 1.11.0
kind 0.19.0
kubebuilder 3.10.0
kube-controller-tools 0.12.0
kubectl 1.27.2
kustomize 5.0.3
pre-commit 3.3.2
shfmt 3.6.0
upx 4.0.2
yamllint 1.32.0
