prismCentralEndPoint: {{ .PrismCentralHost }}
prismCentralPort: {{ .PrismCentralPort }}
prismCentralInsecure: {{ .PrismCentralInsecure }}
{{- with .PrismCentralAdditionalTrustBundle }}
prismCentralAdditionalTrustBundle: "{{ . }}"
{{- end }}
{{- with .IPsToIgnore }}
ignoredNodeIPs: [ {{ joinQuoted . }} ]
{{- end }}

# The Secret containing the credentials will be created by the handler.
createSecret: false
secretName: nutanix-ccm-credentials
{{- with .ControlPlaneEndpoint }}
extraEnv:
  - name: KUBERNETES_SERVICE_HOST
    value: "{{ trimPrefix .Host "https://" }}"
  - name: KUBERNETES_SERVICE_PORT
    value: "{{ .Port }}"
{{- end }}

# For the Metro milestone-1 QA drop
image:
  tag: "0.7.0-alpha.1"
