prismCentralEndPoint: {{ .PrismCentralHost }}
prismCentralPort: {{ .PrismCentralPort }}
prismCentralInsecure: {{ .PrismCentralInsecure }}
{{- with .PrismCentralAdditionalTrustBundle }}
prismCentralAdditionalTrustBundle: "{{ . }}"
{{- end }}
{{- with .IPsToIgnore }}
ignoredNodeIPs: [ {{ joinQuoted . }} ]
{{- end }}

# The Secret containing the credentials will be created by the handler.
createSecret: false
secretName: nutanix-ccm-credentials
extraEnv:
  - name: KUBERNETES_SERVICE_HOST
    value: "{{ .KubernetesServiceHost }}"
  - name: KUBERNETES_SERVICE_PORT
    value: "{{ .KubernetesServicePort }}"