# Copyright 2023 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./calico/crs
- ./calico/helm-addon
- ./cilium/crs
- ./cilium/helm-addon
- AWSClusterStaticIdentity.yaml

namePrefix: aws-

labels:
- includeSelectors: false
  pairs:
    cluster.x-k8s.io/provider: aws

patches:
- target:
    group: cluster.x-k8s.io
    kind: Cluster
  patch: |-
    - op: "add"
      path: "/spec/topology/class"
      value: "aws-quick-start"
    - op: "remove"
      path: "/metadata/labels/cni"
    - op: "add"
      path: "/spec/topology/variables/0/value/aws"
      value:
        region: us-west-2
    - op: "add"
      path: "/spec/topology/variables/0/value/controlPlane"
      value:
        aws:
          ami:
            lookup:
              format: "$${AMI_LOOKUP_FORMAT}"
              org: "$${AMI_LOOKUP_ORG}"
              baseOS: "$${AMI_LOOKUP_BASEOS}"
    - op: "add"
      path: "/spec/topology/variables/-"
      value:
        name: "workerConfig"
        value:
          aws:
            ami:
              lookup:
                format: "$${AMI_LOOKUP_FORMAT}"
                org: "$${AMI_LOOKUP_ORG}"
                baseOS: "$${AMI_LOOKUP_BASEOS}"
    - op: "add"
      path: "/spec/topology/variables/0/value/addons/cpi"
      value: {}
    - op: "add"
      path: "/spec/topology/variables/0/value/addons/csi"
      value:
        providers:
          - name: aws-ebs
- target:
    group: cluster.x-k8s.io
    kind: ClusterClass
  patch: |-
    - op: "add"
      path: "/spec/controlPlane/machineInfrastructure/ref/name"
      value: "aws-quick-start-control-plane"
    - op: "add"
      path: "/spec/controlPlane/ref/name"
      value: "aws-quick-start-control-plane"
    - op: "add"
      path: "/spec/infrastructure/ref/name"
      value: "aws-quick-start"
    - op: "add"
      path: "/spec/workers/machineDeployments/0/template/bootstrap/ref/name"
      value: "aws-quick-start-worker-bootstraptemplate"
    - op: "add"
      path: "/spec/workers/machineDeployments/0/template/infrastructure/ref/name"
      value: "aws-quick-start-worker-machinetemplate"
    - op: "add"
      path: "/spec/patches"
      value:
        - name: "cluster-config"
          external:
            generateExtension: "awsclusterconfigpatch.capi-runtime-extensions"
            discoverVariablesExtension: "awsclusterconfigvars.capi-runtime-extensions"
        - name: "worker-config"
          external:
            generateExtension: "awsworkerconfigpatch.capi-runtime-extensions"
            discoverVariablesExtension: "awsworkerconfigvars.capi-runtime-extensions"
        - name: identityRef
          definitions:
            - jsonPatches:
                - op: add
                  path: /spec/template/spec/identityRef
                  value:
                    kind: AWSClusterControllerIdentity
                    name: default
              selector:
                apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
                kind: AWSClusterTemplate
                matchResources:
                  infrastructureCluster: true
          description: AWSClusterStaticIdentity identityRef to use when creating the cluster
    - op: "remove"
      path: "/spec/variables"
- target:
    group: infrastructure.cluster.x-k8s.io
    kind: AWSMachineTemplate
    name: quick-start-worker-machinetemplate
  patch: |-
    - op: "add"
      path: "/spec/template/spec/instanceType"
      value: "m5.2xlarge"
- target:
    group: infrastructure.cluster.x-k8s.io
    kind: AWSMachineTemplate
    name: quick-start-control-plane
  patch: |-
    - op: "add"
      path: "/spec/template/spec/instanceType"
      value: "m5.xlarge"
- target:
    group: infrastructure.cluster.x-k8s.io
    kind: AWSMachineTemplate
    name: quick-start-worker-machinetemplate
  patch: |-
    - op: "add"
      path: "/spec/template/spec/sshKeyName"
      value: ""
- target:
    group: infrastructure.cluster.x-k8s.io
    kind: AWSMachineTemplate
    name: quick-start-control-plane
  patch: |-
    - op: "add"
      path: "/spec/template/spec/sshKeyName"
      value: ""
- target:
    kind: ConfigMap
  patch: |
    $$patch: delete
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: aws-cni-$${CLUSTER_NAME}-crs-0
- target:
    kind: ClusterResourceSet
  patch: |
    $$patch: delete
    apiVersion: addons.cluster.x-k8s.io/v1beta1
    kind: ConfigMap
    metadata:
      name: aws-$${CLUSTER_NAME}-crs-0
