# Copyright 2023 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

sortOptions:
  order: fifo

resources:
- ./bases/docker
- ./bases/aws

patches:
- target:
    group: cluster.x-k8s.io
    kind: Cluster
  patch: |-
    - op: "add"
      path: "/spec/topology/version"
      value: "$${KUBERNETES_VERSION}"
    - op: "add"
      path: "/spec/clusterNetwork/pods"
      value:
        cidrBlocks:
        - "$${POD_CIDR:-192.168.0.0/16}"
    - op: "add"
      path: "/spec/clusterNetwork/services"
      value:
        cidrBlocks:
        - "$${SERVICE_CIDR:-10.128.0.0/12}"
    - op: "add"
      path: "/spec/clusterNetwork/serviceDomain"
      value: "cluster.local"
