# Copyright 2023 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

sortOptions:
  order: fifo

resources:
- ./bases/docker
- ./bases/aws

patches:
- target:
    group: cluster.x-k8s.io
    kind: ClusterClass
  patch: |-
    - op: "add"
      path: "/spec/patches/0"
      value:
        name: "cluster-config"
        external:
          generateExtension: "clusterconfigpatch.capi-runtime-extensions"
          discoverVariablesExtension: "clusterconfigvars.capi-runtime-extensions"
    - op: "remove"
      path: "/spec/variables"
- target:
    group: cluster.x-k8s.io
    kind: Cluster
  patch: |-
    - op: "add"
      path: "/spec/topology/version"
      value: "${KUBERNETES_VERSION}"
    - op: "add"
      path: "/spec/clusterNetwork/pods"
      value:
        cidrBlocks:
        - "192.168.0.0/16"
    - op: "add"
      path: "/spec/clusterNetwork/services"
      value:
        cidrBlocks:
        - "10.128.0.0/12"
    - op: "add"
      path: "/spec/clusterNetwork/serviceDomain"
      value: "cluster.local"
    - op: "add"
      path: "/spec/topology/controlPlane/replicas"
      value: 1
    - op: "add"
      path: "/spec/topology/workers/machineDeployments/0/replicas"
      value: 1
    - op: "add"
      path: "/spec/topology/variables"
      value:
        - name: "clusterConfig"
          value:
            addons:
              cni:
                provider: calico
              nfd: {}
