# Copyright 2023 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: snapshot-controller-kustomize

namespace: kube-system

helmCharts:
- name: snapshot-controller
  repo: https://piraeus.io/helm-charts/
  releaseName: snapshot-controller
  version: ${SNAPSHOT_CONTROLLER_CHART_VERSION}
  valuesFile: ../../../../charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  includeCRDs: true
  skipTests: true
  namespace: kube-system
