# Copyright 2023 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: aws-ebs-csi-kustomize

namespace: kube-system

helmCharts:
- name: aws-ebs-csi-driver
  repo: https://kubernetes-sigs.github.io/aws-ebs-csi-driver
  releaseName: aws-ebs-csi-driver
  version: ${AWS_EBS_CSI_CHART_VERSION}
  valuesFile: helm-values.yaml
  includeCRDs: true
  skipTests: true
  namespace: kube-system

resources:
- ../external-snapshotter
