# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./cilium/crs
  - ./cilium/helm-addon
  - ./calico/crs
  - ./calico/helm-addon
  - https://raw.githubusercontent.com/deepakm-ntnx/cluster-api-provider-nutanix/remove-env-nmt/templates/cluster-template-clusterclass.yaml

namePrefix:

labels:
  - includeSelectors: false
    pairs:
      cluster.x-k8s.io/provider: infrastructure-nutanix

patches:
  - target:
      group: cluster.x-k8s.io
      kind: Cluster
    patch: |-
      - op: "add"
        path: "/spec/topology/class"
        value: "nutanix-quick-start"
      - op: "add"
        path: "/spec/topology/variables/0/value/nutanix"
        value:
          prismCentralEndpoint:
            host: "PC-ip-fqdn"
            port: 9440
            insecure: false
            additionalTrustBundle: "trust-bundle-root-ca"
          controlPlaneEndpoint:
            host: "api-server-ip-fqdn"
            port: 6443
          failureDomains:
            - name: fd1
              cluster:
                name: PE1
                type: name
              subnet:
                - name: subnet1
                  type: name
              isControlPlane: false
      - op: "add"
        path: "/spec/topology/variables/0/value/controlPlane"
        value:
          nutanix:
            machineDetails:
              bootType: legacy
              cluster:
                name: PE1
                type: name
              image:
                name: image1
                type: name
              memorySize: 4Gi
              systemDiskSize: 40Gi
              vcpuSockets: 2
              vcpusPerSocket: 1
              subnet:
                - name: subnet1
                  type: name
              project:
                name: prj1
                type: name
              additionalCategories:
                - key1: value1
                - key2: value2
              gpus:
                - type: name
                  name: gpu1
                - type: name
                  name: gpu2
      - op: "add"
        path: "/spec/topology/variables/1/value"
        value:
          nutanix:
            machineDetails:
              bootType: legacy
              cluster:
                name: PE1
                type: name
              image:
                name: image1
                type: name
              memorySize: 4Gi
              systemDiskSize: 40Gi
              vcpuSockets: 2
              vcpusPerSocket: 1
              subnet:
                - name: subnet1
                  type: name
              project:
                name: prj1
                type: name
              additionalCategories:
                - key1: value1
                - key2: value2
              gpus:
                - type: name
                  name: gpu1
                - type: name
                  name: gpu2
