# Copyright 2024 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: cilium

sortOptions:
  order: fifo

helmCharts:
- name: cilium
  repo: https://helm.cilium.io/
  releaseName: cilium
  version: ${CILIUM_VERSION}
  valuesFile: helm-values.yaml
  includeCRDs: true
  skipTests: true
  namespace: kube-system

namespace: kube-system
