# Copyright 2024 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../bases/docker/clusterclass

sortOptions:
  order: fifo

patches:
  - target:
      kind: ClusterClass
    patch: |-
      - op: "add"
        path: "/spec/patches"
        value:
          - name: "cluster-config"
            external:
              generateExtension: "dockerclusterv3configpatch-gp.cluster-api-runtime-extensions-nutanix"
              discoverVariablesExtension: "dockerclusterconfigvars-dv.cluster-api-runtime-extensions-nutanix"
          - name: "worker-config"
            external:
              generateExtension: "dockerworkerv3configpatch-gp.cluster-api-runtime-extensions-nutanix"
              discoverVariablesExtension: "dockerworkerconfigvars-dv.cluster-api-runtime-extensions-nutanix"

  # BEGIN CIS patches
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/disable-kubeadmcontrolplane-profiling.yaml
  # END CIS patches
