# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/nutanix-cloud-native/cluster-api-provider-nutanix/1a7cd69ba35de01e56dcf2dda7f31973111d2317/templates/cluster-template-clusterclass.yaml

configurations:
  - kustomizeconfig.yaml

sortOptions:
  order: fifo

namePrefix:

labels:
- includeSelectors: false
  pairs:
    cluster.x-k8s.io/provider: nutanix

patches:
# Delete the patch and variable definitions.
- target:
    kind: ClusterClass
  patch: |-
    - op: "remove"
      path: "/spec/patches"
    - op: "remove"
      path: "/spec/variables"

# FIXME: Debug why some of the patches are needed.
# When the handler runs, it sends back multiple patches for individual fields.
# But CAPI fails applying them because of missing value.
- target:
    kind: NutanixClusterTemplate
  patch: |-
    - op: "add"
      path: "/spec/template/spec/controlPlaneEndpoint"
      value:
        host: PLACEHOLDER
        port: 6443
    - op: "add"
      path: "/spec/template/spec/prismCentral"
      value:
        address: PLACEHOLDER
        port: 9440
        credentialRef:
          name: PLACEHOLDER
          kind: Secret
          namespace: default
