# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/nutanix-cloud-native/cluster-api-provider-nutanix/51aa55fe8b194a261bc3cc4e6d24f5d430ec055a/templates/cluster-template-clusterclass.yaml

configurations:
  - kustomizeconfig.yaml

sortOptions:
  order: fifo

namePrefix:

labels:
- includeSelectors: false
  pairs:
    cluster.x-k8s.io/provider: nutanix

patches:
# Delete the patch and variable definitions.
- target:
    kind: ClusterClass
  patch: |-
    - op: "remove"
      path: "/spec/patches"
    - op: "remove"
      path: "/spec/variables"
