# Copyright 2023 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: external-snapshotter-kustomize

namespace: kube-system

resources:
- github.com/kubernetes-csi/external-snapshotter/client/config/crd/?ref=${AWS_CSI_SNAPSHOT_CONTROLLER_VERSION}
- github.com/kubernetes-csi/external-snapshotter/deploy/kubernetes/snapshot-controller/?ref=${AWS_CSI_SNAPSHOT_CONTROLLER_VERSION}

patches:
- path: ./overlays/deployment-nodeAffinity.yaml
  target:
    kind: Deployment
    name: snapshot-controller
    namespace: kube-system
- path: ./overlays/deployment-priorityClassName.yaml
  target:
    kind: Deployment
    name: snapshot-controller
    namespace: kube-system

# always override the images to match the version from the set envs
images:
- name: registry.k8s.io/sig-storage/snapshot-controller
  newTag: ${AWS_CSI_SNAPSHOT_CONTROLLER_VERSION}
