# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/nutanix-cloud-native/cluster-api-provider-nutanix/1a7cd69ba35de01e56dcf2dda7f31973111d2317/templates/cluster-template-topology.yaml

sortOptions:
  order: fifo

labels:
- includeSelectors: false
  pairs:
    cluster.x-k8s.io/provider: nutanix

patches:
- target:
    kind: Cluster
  path: ../../../patches/initialize-variables.yaml
- target:
    kind: Cluster
  path: ../../../patches/cluster-network.yaml
- target:
    kind: Cluster
  path: ../../../patches/cluster-autoscaler.yaml
- target:
    kind: Cluster
  path: ../../../patches/nutanix/initialize-variables.yaml

# Remove Additional Trust Bundle ConfigMap
- target:
    kind: ConfigMap
    name: ".*-pc-trusted-ca-bundle"
  path: ../../../patches/nutanix/remove-additional-trust-bundle/cm.yaml
