# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../additional-resources/dockerhub-secret.yaml
- ../../../additional-resources/nutanix/csi-secret.yaml
- https://raw.githubusercontent.com/nutanix-cloud-native/cluster-api-provider-nutanix/1a7cd69ba35de01e56dcf2dda7f31973111d2317/templates/cluster-template-topology.yaml

sortOptions:
  order: fifo

labels:
- includeSelectors: false
  pairs:
    cluster.x-k8s.io/provider: nutanix

patches:
- target:
    kind: Cluster
  path: ../../../patches/initialize-variables.yaml
- target:
    kind: Cluster
  path: ../../../patches/cluster-network.yaml
- target:
    kind: Cluster
  path: ../../../patches/cluster-autoscaler.yaml
- target:
    kind: Cluster
  path: ../../../patches/nutanix/csi.yaml
- target:
    kind: Cluster
  path: ../../../patches/nutanix/ccm.yaml
- target:
    kind: Cluster
  path: ../../../patches/nutanix/initialize-variables.yaml

# Remove Additional Trust Bundle ConfigMap
- target:
    kind: ConfigMap
    name: ".*-pc-trusted-ca-bundle"
  path: ../../../patches/nutanix/remove-additional-trust-bundle/cm.yaml

# Remove CCM CRS
- target:
    kind: Secret
    name: nutanix-ccm-secret
  path: ../../../patches/nutanix/remove-ccm/secret.yaml
- target:
    kind: ClusterResourceSet
    name: nutanix-ccm-crs
  path: ../../../patches/nutanix/remove-ccm/crs.yaml
- target:
    kind: ConfigMap
    name: nutanix-ccm
  path: ../../../patches/nutanix/remove-ccm/crs-cm.yaml
- target:
    kind: Cluster
  path: ../../../patches/nutanix/remove-ccm/cluster-label.yaml

# A Nutanix cluster uses SNAT for outbound traffic by default.
# Because Dockerhub only sees a single request IP the rate limit gets hit for almost every cluster.
# Add a patch to set imageRegistry with docker.io credentials.
- target:
    kind: Cluster
  path: ../../../patches/dockerhub-image-registry.yaml
