replicaCount: {{ .Replicas }}
persistence:
  enabled: true
  size: 100Gi
service:
  type: ClusterIP
  clusterIP: {{ .ServiceIP }}
  port: 443
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 250m
    memory: 384Mi
statefulSet:
  enabled: true
  syncer:
    interval: 2m
    resources:
      requests:
        cpu: 25m
        memory: 50Mi
      limits:
        cpu: 100m
        memory: 75Mi
tlsSecretName: {{ .TLSSecretName }}
tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: Exists
    effect: "NoSchedule"

podLabels:
  cncf-distribution-registry: "true" # ensure the labels match with pod AntiAffinity.

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              cncf-distribution-registry: "true"
          topologyKey: kubernetes.io/hostname
