# Copyright 2023 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: nutanix-csi-kustomize

namespace: kube-system

helmCharts:
- name: nutanix-csi-snapshot
  repo: https://nutanix.github.io/helm/
  releaseName: nutanix-csi-storage
  version: ${NUTANIX_SNAPSHOT_CSI_CHART_VERSION}
  includeCRDs: true
  skipTests: true
  namespace: nutanix-system
