# Copyright 2023 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.hooks.csi.nutanix.helmAddonStrategy.defaultValueTemplateConfigMap.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ .Values.hooks.csi.nutanix.helmAddonStrategy.defaultValueTemplateConfigMap.name }}'
data:
  values.yaml: |-
    # The Secret containing the credentials will be created by the handler.
    createPrismCentralSecret: false
    createSecret: false
    pcSecretName: nutanix-csi-credentials

    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        operator: Exists
        tolerationSeconds: 300
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists

    # TODO Remove this once the Nutanix 3.0 CSI driver is GA.
    supportedPCVersions: master,fraser-2024.1-stable-pc-0,fraser-2023.4-stable-pc-0,fraser-2024.1-stable-pc-0.1
{{- end -}}
