# Copyright 2024 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../bases/aws/clusterclass

sortOptions:
  order: fifo

patches:
  - target:
      kind: ClusterClass
    patch: |-
      - op: "add"
        path: "/spec/patches"
        value:
          - name: "cluster-config"
            external:
              generateExtension: "awsclusterv4configpatch-gp.cluster-api-runtime-extensions-nutanix"
              discoverVariablesExtension: "awsclusterconfigvars-dv.cluster-api-runtime-extensions-nutanix"
          - name: "worker-config"
            external:
              generateExtension: "awsworkerv4configpatch-gp.cluster-api-runtime-extensions-nutanix"
              discoverVariablesExtension: "awsworkerconfigvars-dv.cluster-api-runtime-extensions-nutanix"
  - target:
      kind: AWSMachineTemplate
    patch: |-
      - op: "add"
        path: "/spec/template/spec/sshKeyName"
        value: ""
  - target:
      kind: AWSMachineTemplate
      name: quick-start-worker-machinetemplate
    patch: |-
      - op: "add"
        path: "/spec/template/spec/instanceType"
        value: "PLACEHOLDER"
  - target:
      kind: AWSMachineTemplate
      name: quick-start-control-plane
    patch: |-
      - op: "add"
        path: "/spec/template/spec/instanceType"
        value: "PLACEHOLDER"
  - target:
      kind: AWSMachineTemplate
    patch: |-
      - op: "remove"
        path: "/spec/template/spec/iamInstanceProfile"

  # BEGIN Initialize lists and maps
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/initialize/kubeadmcontrolplanetemplate/files.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/initialize/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/initialize/kubeadmcontrolplanetemplate/postkubeadmcommands.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/initialize/kubeadmcontrolplanetemplate/extravolumes.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/initialize/kubeadmcontrolplanetemplate/patches.yaml

  - target:
      kind: KubeadmConfigTemplate
    path: ../../../patches/initialize/kubeadmconfigtemplate/files.yaml
  - target:
      kind: KubeadmConfigTemplate
    path: ../../../patches/initialize/kubeadmconfigtemplate/kubelet-configuration.yaml
  - target:
      kind: KubeadmConfigTemplate
    path: ../../../patches/initialize/kubeadmconfigtemplate/postkubeadmcommands.yaml
  - target:
      kind: KubeadmConfigTemplate
    path: ../../../patches/initialize/kubeadmconfigtemplate/patches.yaml
  # END Initialize lists and maps

  # BEGIN CIS patches
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/cis/kubeadmcontrolplanetemplate/control-plane-flags.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/cis/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/cis/kubeadmcontrolplanetemplate/kubelet-file-permissions.yaml
  - target:
      kind: KubeadmControlPlaneTemplate
    path: ../../../patches/cis/admissionconfiguration.yaml

  - target:
      kind: KubeadmConfigTemplate
    path: ../../../patches/cis/kubeadmconfigtemplate/kubelet-configuration.yaml
  - target:
      kind: KubeadmConfigTemplate
    path: ../../../patches/cis/kubeadmconfigtemplate/kubelet-file-permissions.yaml
  # END CIS patches
