# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../bases/aws/clusterclass

sortOptions:
  order: fifo

patches:
  - target:
      kind: ClusterClass
    patch: |-
      - op: "add"
        path: "/spec/patches"
        value:
          - name: "cluster-config"
            external:
              generateExtension: "awsclusterconfigpatch.cluster-api-runtime-extensions-nutanix"
              discoverVariablesExtension: "awsclusterconfigvars.cluster-api-runtime-extensions-nutanix"
          - name: "worker-config"
            external:
              generateExtension: "awsworkerconfigpatch.cluster-api-runtime-extensions-nutanix"
              discoverVariablesExtension: "awsworkerconfigvars.cluster-api-runtime-extensions-nutanix"
          - name: identityRef
            definitions:
              - jsonPatches:
                  - op: add
                    path: /spec/template/spec/identityRef
                    value:
                      kind: AWSClusterControllerIdentity
                      name: default
                selector:
                  apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
                  kind: AWSClusterTemplate
                  matchResources:
                    infrastructureCluster: true
            description: AWSClusterStaticIdentity identityRef to use when creating the cluster
  - target:
      kind: AWSMachineTemplate
    patch: |-
      - op: "add"
        path: "/spec/template/spec/sshKeyName"
        value: ""
  - target:
      kind: AWSMachineTemplate
      name: quick-start-worker-machinetemplate
    patch: |-
      - op: "add"
        path: "/spec/template/spec/instanceType"
        value: "PLACEHOLDER"
  - target:
      kind: AWSMachineTemplate
      name: quick-start-control-plane
    patch: |-
      - op: "add"
        path: "/spec/template/spec/instanceType"
        value: "PLACEHOLDER"
