apiVersion: cluster.x-k8s.io/v1beta2
kind: ClusterClass
metadata:
  labels:
    cluster.x-k8s.io/provider: docker
  name: docker-quick-start
spec:
  controlPlane:
    healthCheck:
      checks:
        unhealthyMachineConditions:
        - status: Unknown
          timeoutSeconds: 300
          type: NodeReady
        - status: "False"
          timeoutSeconds: 300
          type: NodeReady
        unhealthyNodeConditions:
        - status: Unknown
          timeoutSeconds: 300
          type: Ready
        - status: "False"
          timeoutSeconds: 300
          type: Ready
    machineInfrastructure:
      templateRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
        kind: DockerMachineTemplate
        name: quick-start-control-plane
    templateRef:
      apiVersion: controlplane.cluster.x-k8s.io/v1beta2
      kind: KubeadmControlPlaneTemplate
      name: quick-start-control-plane
  infrastructure:
    templateRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
      kind: DockerClusterTemplate
      name: quick-start-cluster
  patches:
  - external:
      discoverVariablesExtension: dockerclusterconfigvars-dv.cluster-api-runtime-extensions-nutanix
      generatePatchesExtension: dockerclusterv5configpatch-gp.cluster-api-runtime-extensions-nutanix
    name: cluster-config
  - external:
      discoverVariablesExtension: dockerworkerconfigvars-dv.cluster-api-runtime-extensions-nutanix
      generatePatchesExtension: dockerworkerv5configpatch-gp.cluster-api-runtime-extensions-nutanix
    name: worker-config
  workers:
    machineDeployments:
    - bootstrap:
        templateRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
          kind: KubeadmConfigTemplate
          name: quick-start-default-worker-bootstraptemplate
      class: default-worker
      healthCheck:
        checks:
          unhealthyMachineConditions:
          - status: Unknown
            timeoutSeconds: 300
            type: NodeReady
          - status: "False"
            timeoutSeconds: 300
            type: NodeReady
          unhealthyNodeConditions:
          - status: Unknown
            timeoutSeconds: 300
            type: Ready
          - status: "False"
            timeoutSeconds: 300
            type: Ready
      infrastructure:
        templateRef:
          apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
          kind: DockerMachineTemplate
          name: quick-start-default-worker-machinetemplate
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerClusterTemplate
metadata:
  labels:
    cluster.x-k8s.io/provider: docker
  name: docker-quick-start-cluster
spec:
  template:
    spec: {}
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: KubeadmControlPlaneTemplate
metadata:
  labels:
    cluster.x-k8s.io/provider: docker
  name: docker-quick-start-control-plane
spec:
  template:
    spec:
      kubeadmConfigSpec:
        clusterConfiguration:
          apiServer:
            extraArgs:
              admission-control-config-file: /etc/kubernetes/admission.yaml
              enable-admission-plugins: DenyServiceExternalIPs,EventRateLimit,NodeRestriction
              profiling: "false"
              service-account-lookup: "true"
            extraVolumes:
            - hostPath: /etc/kubernetes/admission.yaml
              mountPath: /etc/kubernetes/admission.yaml
              name: admission-config
              pathType: File
              readOnly: true
            - hostPath: /etc/kubernetes/eventratelimit-config.yaml
              mountPath: /etc/kubernetes/eventratelimit-config.yaml
              name: eventratelimit-config
              pathType: File
              readOnly: true
          controllerManager:
            extraArgs:
              profiling: "false"
              terminated-pod-gc-threshold: "10000"
          scheduler:
            extraArgs:
              profiling: "false"
        files:
        - content: |
            apiVersion: kubelet.config.k8s.io/v1beta1
            kind: KubeletConfiguration
            # 4.2.4 Ensure that the --read-only-port argument is set to 0
            readOnlyPort: 0
            # 4.2.5 Ensure that the --streaming-connection-idle-timeout argument is not set to 0
            # Recommendation: Set to 5m instead of 4h as per CIS guidelines
            streamingConnectionIdleTimeout: "5m"
            # 4.2.8 Ensure that the event-qps argument is set to a level which ensures appropriate event capture
            eventRecordQPS: 5
            # 4.2.12 Updated with recommended strong cipher suites
            tlsCipherSuites: [TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305, TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305, TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384]
            # 4.2.13 Ensure that a limit is set on pod PIDs
            podPidsLimit: 4096
          path: /etc/kubernetes/patches/kubeletconfiguration1+strategic.json
          permissions: "0600"
        - content: |
            apiVersion: apiserver.config.k8s.io/v1
            kind: AdmissionConfiguration
            plugins:
            - name: EventRateLimit
              path: /etc/kubernetes/eventratelimit-config.yaml
          path: /etc/kubernetes/admission.yaml
          permissions: "0600"
        - content: |
            apiVersion: eventratelimit.admission.k8s.io/v1alpha1
            kind: Configuration
            limits:
            - type: Server
              qps: 10000
              burst: 40000
          path: /etc/kubernetes/eventratelimit-config.yaml
          permissions: "0600"
        initConfiguration:
          nodeRegistration:
            kubeletExtraArgs:
            - name: eviction-hard
              value: nodefs.available<0%,nodefs.inodesFree<0%,imagefs.available<0%
          patches:
            directory: /etc/kubernetes/patches
        joinConfiguration:
          nodeRegistration:
            kubeletExtraArgs:
            - name: eviction-hard
              value: nodefs.available<0%,nodefs.inodesFree<0%,imagefs.available<0%
          patches:
            directory: /etc/kubernetes/patches
        postKubeadmCommands:
        - chmod 600 "$(systemctl show -P FragmentPath kubelet.service)"
        - chmod 600 $(systemctl show -P DropInPaths kubelet.service)
        - chmod 600 /var/lib/kubelet/config.yaml
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerMachineTemplate
metadata:
  labels:
    cluster.x-k8s.io/provider: docker
  name: docker-quick-start-control-plane
spec:
  template:
    spec:
      extraMounts:
      - containerPath: /var/run/docker.sock
        hostPath: /var/run/docker.sock
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerMachineTemplate
metadata:
  labels:
    cluster.x-k8s.io/provider: docker
  name: docker-quick-start-default-worker-machinetemplate
spec:
  template:
    spec:
      extraMounts:
      - containerPath: /var/run/docker.sock
        hostPath: /var/run/docker.sock
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KubeadmConfigTemplate
metadata:
  labels:
    cluster.x-k8s.io/provider: docker
  name: docker-quick-start-default-worker-bootstraptemplate
spec:
  template:
    spec:
      files:
      - content: |
          apiVersion: kubelet.config.k8s.io/v1beta1
          kind: KubeletConfiguration
          # 4.2.4 Ensure that the --read-only-port argument is set to 0
          readOnlyPort: 0
          # 4.2.5 Ensure that the --streaming-connection-idle-timeout argument is not set to 0
          # Recommendation: Set to 5m instead of 4h as per CIS guidelines
          streamingConnectionIdleTimeout: "5m"
          # 4.2.8 Ensure that the event-qps argument is set to a level which ensures appropriate event capture
          eventRecordQPS: 5
          # 4.2.12 Updated with recommended strong cipher suites
          tlsCipherSuites: [TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305, TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305, TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384]
          # 4.2.13 Ensure that a limit is set on pod PIDs
          podPidsLimit: 4096
        path: /etc/kubernetes/patches/kubeletconfiguration1+strategic.json
        permissions: "0600"
      joinConfiguration:
        nodeRegistration:
          kubeletExtraArgs:
          - name: eviction-hard
            value: nodefs.available<0%,nodefs.inodesFree<0%,imagefs.available<0%
        patches:
          directory: /etc/kubernetes/patches
      postKubeadmCommands:
      - chmod 600 "$(systemctl show -P FragmentPath kubelet.service)"
      - chmod 600 $(systemctl show -P DropInPaths kubelet.service)
      - chmod 600 /var/lib/kubelet/config.yaml
