apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: node-feature-discovery

sortOptions:
  order: fifo

resources:
- namespace.yaml

helmCharts:
- name: node-feature-discovery
  repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
  releaseName: node-feature-discovery
  version: ${NODE_FEATURE_DISCOVERY_VERSION}
  valuesFile: helm-values.yaml
  valuesInline:
    image:
      tag: "${NODE_FEATURE_DISCOVERY_VERSION}-minimal"
  includeCRDs: true
  skipTests: true
  namespace: node-feature-discovery

namespace: node-feature-discovery
