# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/deepakm-ntnx/cluster-api-provider-nutanix/remove-env-nmt/templates/cluster-template-topology.yaml

patches:
- target:
    group: cluster.x-k8s.io
    kind: Cluster
  patch: |-
    - op: "add"
      path: "/metadata/name"
      value: "quick-start-helm-addon-cilium"
    - op: "add"
      path: "/spec/topology/variables"
      value:
        - name: "clusterConfig"
          value:
            addons:
              cni:
                provider: Cilium
                strategy: HelmAddon
        - name: "workerConfig"
