# Copyright 2024 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: dockerworkernodeconfigs.caren.nutanix.com
spec:
  group: caren.nutanix.com
  names:
    kind: DockerWorkerNodeConfig
    listKind: DockerWorkerNodeConfigList
    plural: dockerworkernodeconfigs
    singular: dockerworkernodeconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DockerWorkerNodeConfig is the Schema for the dockerworkernodeconfigs
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DockerControlPlaneSpec defines the desired state of the control
              plane for a Docker cluster.
            properties:
              autoRenewCertificates:
                description: |-
                  AutoRenewCertificates specifies the configuration for auto-renewing the
                  certificates of the control plane.
                properties:
                  daysBeforeExpiry:
                    description: |-
                      DaysBeforeExpiry indicates a rollout needs to be performed if the
                      certificates of the control plane will expire within the specified days.
                    format: int32
                    minimum: 7
                    type: integer
                required:
                - daysBeforeExpiry
                type: object
              docker:
                properties:
                  customImage:
                    description: Custom OCI image for control plane and worker Nodes.
                    pattern: ^((?:[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*|\[(?:[a-fA-F0-9:]+)\])(:[0-9]+)?/)?[a-z0-9]+((?:[._]|__|[-]+)[a-z0-9]+)*(/[a-z0-9]+((?:[._]|__|[-]+)[a-z0-9]+)*)*(:[\w][\w.-]{0,127})?(@[A-Za-z][A-Za-z0-9]*(?:[-_+.][A-Za-z][A-Za-z0-9]*)*[:][0-9A-Fa-f]{32,})?$
                    type: string
                type: object
              nodeRegistration:
                default: {}
                description: NodeRegistration holds fields that relate to registering
                  the new control-plane node to the cluster.
                properties:
                  ignorePreflightErrors:
                    default:
                    - SystemVerification
                    description: |-
                      IgnorePreflightErrors specifies a slice of pre-flight errors to be ignored by kubeadm
                      when the current node is registered.
                    items:
                      maxLength: 512
                      minLength: 1
                      type: string
                    maxItems: 50
                    type: array
                type: object
              taints:
                description: Taints specifies the taints the Node API object should
                  be registered with.
                items:
                  description: |-
                    The node this Taint is attached to has the "effect" on
                    any pod that does not tolerate the Taint.
                  properties:
                    effect:
                      default: NoSchedule
                      description: |-
                        The effect of the taint on pods that do not tolerate the taint.
                        Valid effects are NoSchedule, PreferNoSchedule and NoExecute.
                      enum:
                      - NoSchedule
                      - PreferNoSchedule
                      - NoExecute
                      type: string
                    key:
                      description: The taint key to be applied to a node.
                      type: string
                    value:
                      description: The taint value corresponding to the taint key.
                      type: string
                  required:
                  - effect
                  - key
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
