# Copyright 2024 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: nutanixworkernodeconfigs.caren.nutanix.com
spec:
  group: caren.nutanix.com
  names:
    kind: NutanixWorkerNodeConfig
    listKind: NutanixWorkerNodeConfigList
    plural: nutanixworkernodeconfigs
    singular: nutanixworkernodeconfig
  scope: Namespaced
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: NutanixWorkerNodeConfig is the Schema for the nutanixworkernodeconfigs API.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: NutanixWorkerNodeConfigSpec defines the desired state of NutanixWorkerNodeSpec.
              properties:
                nodeRegistration:
                  default: {}
                  description: NodeRegistration holds fields that relate to registering the new control-plane node to the cluster.
                  properties:
                    ignorePreflightErrors:
                      default:
                        - SystemVerification
                      description: |-
                        IgnorePreflightErrors specifies a slice of pre-flight errors to be ignored by kubeadm
                        when the current node is registered.
                      items:
                        maxLength: 512
                        minLength: 1
                        type: string
                      maxItems: 50
                      type: array
                  type: object
                nutanix:
                  properties:
                    machineDetails:
                      description: machineDetails specifies the details of the Nutanix machine that will be created
                      properties:
                        additionalCategories:
                          description: |-
                            List of categories that need to be added to the machines. Categories must already
                            exist in Prism Central. One category key can have more than one value.
                          items:
                            properties:
                              key:
                                description: key is the Key of category in PC.
                                type: string
                              value:
                                description: value is the category value linked to the category key in PC
                                type: string
                            type: object
                          type: array
                        bootType:
                          description: Defines the boot type of the virtual machine. Only supports UEFI and Legacy
                          enum:
                            - legacy
                            - uefi
                          type: string
                        cluster:
                          description: |-
                            cluster identifies the Prism Element in which the machine will be created.
                            The identifier (uuid or name) can be obtained from the console or API.
                          properties:
                            name:
                              description: name is the resource name in the PC
                              type: string
                            type:
                              description: Type is the identifier type to use for this resource.
                              enum:
                                - uuid
                                - name
                              type: string
                            uuid:
                              description: uuid is the UUID of the resource in the PC.
                              type: string
                          required:
                            - type
                          type: object
                        gpus:
                          description: List of GPU devices that need to be added to the machines.
                          items:
                            properties:
                              deviceID:
                                description: deviceID is the id of the GPU entity.
                                format: int64
                                type: integer
                              name:
                                description: name is the GPU name
                                type: string
                              type:
                                description: Type is the identifier type to use for this resource.
                                enum:
                                  - deviceID
                                  - name
                                type: string
                            required:
                              - type
                            type: object
                          type: array
                        image:
                          description: |-
                            image identifies the image uploaded to Prism Central (PC). The identifier
                            (uuid or name) can be obtained from the console or API.
                          properties:
                            name:
                              description: name is the resource name in the PC
                              type: string
                            type:
                              description: Type is the identifier type to use for this resource.
                              enum:
                                - uuid
                                - name
                              type: string
                            uuid:
                              description: uuid is the UUID of the resource in the PC.
                              type: string
                          required:
                            - type
                          type: object
                        imageLookup:
                          description: imageLookup is a container that holds how to look up vm images for the cluster.
                          properties:
                            baseOS:
                              description: |-
                                BaseOS is the name of the base operating system to use for
                                image lookup.
                              minLength: 1
                              type: string
                            format:
                              default: capx-{{.BaseOS}}-{{.K8sVersion}}-*
                              description: |-
                                Format is the naming format to look up the image for this
                                machine It will be ignored if an explicit image is set. Supports
                                substitutions for {{.BaseOS}} and {{.K8sVersion}} with the base OS and
                                kubernetes version, respectively. The BaseOS will be the value in
                                BaseOS and the K8sVersion is the value in the Machine .spec.version, with the v prefix removed.
                                This is effectively the defined by the packages produced by kubernetes/release without v as a
                                prefix: 1.13.0, 1.12.5-mybuild.1, or 1.17.3. For example, the default
                                image format of {{.BaseOS}}-?{{.K8sVersion}}-* and BaseOS as "rhel-8.10" will end up
                                searching for images that match the pattern rhel-8.10-1.30.5-* for a
                                Machine that is targeting kubernetes v1.30.5. See
                                also: https://golang.org/pkg/text/template/
                              type: string
                          required:
                            - baseOS
                          type: object
                        memorySize:
                          description: memorySize is the memory size (in Quantity format) of the VM
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                          type: string
                        project:
                          description: |-
                            add the virtual machines to the project defined in Prism Central.
                            The project must already be present in the Prism Central.
                          properties:
                            name:
                              description: name is the resource name in the PC
                              type: string
                            type:
                              description: Type is the identifier type to use for this resource.
                              enum:
                                - uuid
                                - name
                              type: string
                            uuid:
                              description: uuid is the UUID of the resource in the PC.
                              type: string
                          required:
                            - type
                          type: object
                        subnets:
                          description: |-
                            subnet identifies the network subnet to use for the machine.
                            The identifier (uuid or name) can be obtained from the console or API.
                          items:
                            description: NutanixResourceIdentifier holds the identity of a Nutanix PC resource (cluster, image, subnet, etc.)
                            properties:
                              name:
                                description: name is the resource name in the PC
                                type: string
                              type:
                                description: Type is the identifier type to use for this resource.
                                enum:
                                  - uuid
                                  - name
                                type: string
                              uuid:
                                description: uuid is the UUID of the resource in the PC.
                                type: string
                            required:
                              - type
                            type: object
                          type: array
                        systemDiskSize:
                          description: |-
                            systemDiskSize is size (in Quantity format) of the system disk of the VM
                            The minimum systemDiskSize is 20Gi bytes
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                          type: string
                        vcpuSockets:
                          description: vcpuSockets is the number of vCPU sockets of the VM
                          format: int32
                          type: integer
                        vcpusPerSocket:
                          description: vcpusPerSocket is the number of vCPUs per socket of the VM
                          format: int32
                          type: integer
                      required:
                        - memorySize
                        - systemDiskSize
                        - vcpuSockets
                        - vcpusPerSocket
                      type: object
                      x-kubernetes-validations:
                        - message: Either 'image' or 'imageLookup' must be set, but not both
                          rule: has(self.image) != has(self.imageLookup)
                  required:
                    - machineDetails
                  type: object
                taints:
                  description: Taints specifies the taints the Node API object should be registered with.
                  items:
                    description: |-
                      The node this Taint is attached to has the "effect" on
                      any pod that does not tolerate the Taint.
                    properties:
                      effect:
                        default: NoSchedule
                        description: |-
                          The effect of the taint on pods that do not tolerate the taint.
                          Valid effects are NoSchedule, PreferNoSchedule and NoExecute.
                        enum:
                          - NoSchedule
                          - PreferNoSchedule
                          - NoExecute
                        type: string
                      key:
                        description: The taint key to be applied to a node.
                        type: string
                      value:
                        description: The taint value corresponding to the taint key.
                        type: string
                    required:
                      - effect
                      - key
                    type: object
                  type: array
              required:
                - nutanix
              type: object
          type: object
      served: true
      storage: true
