# Copyright 2023 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: checks

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:
    types:
      - checks_requested

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  unit-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
        with:
          enable-cache: true

      - name: Go cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run unit tests
        run: devbox run -- make test

      - name: Annotate tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.8.0
        with:
          test-results: test.json

  e2e-test:
    strategy:
      matrix:
        provider:
          - Docker
      fail-fast: false
    uses: ./.github/workflows/e2e.yml
    with:
      provider: ${{ matrix.provider }}
    secrets: inherit
    permissions:
      contents: read
      checks: write

  lint-go:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        module: [api, common, .]
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
        with:
          enable-cache: true

      - name: Export golang and golangci-lint versions
        id: versions
        run: |
          echo "golangci-lint=$(devbox run -- golangci-lint version --format short)" >>"${GITHUB_OUTPUT}"
          echo "golang=$(devbox run -- go version | grep -o "[[:digit:]]\+.[[:digit:]]\+\(.[[:digit:]]\+\)\?")" >>"${GITHUB_OUTPUT}"

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          fail_on_error: true
          reporter: github-pr-review
          golangci_lint_version: v${{ steps.versions.outputs.golangci-lint }}
          go_version: v${{ steps.versions.outputs.golang }}
          workdir: ${{ matrix.module }}
          golangci_lint_flags: "--config=${{ github.workspace }}/.golangci.yml"

  lint-gha:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          fail_on_error: true
          reporter: github-pr-review

  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
        with:
          enable-cache: true

      - name: Go cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up pre-commit cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        run: devbox run -- make pre-commit
        env:
          SKIP: no-commit-to-branch,golangci-lint,actionlint-system

  lint-test-helm:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
        with:
          enable-cache: true

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed="$(devbox run -- \
            ct list-changed --config charts/ct-config.yaml \
          )"
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - if: steps.list-changed.outputs.changed == 'true'
        name: Run chart-testing (lint)
        run: |
          devbox run -- \
            ct lint --config charts/ct-config.yaml

      - if: steps.list-changed.outputs.changed == 'true'
        name: Create kind cluster
        run: |
          devbox run -- \
            kind create cluster \
              --image=ghcr.io/mesosphere/kind-node:"$(devbox run -- kubectl version --output=json --client | devbox run -- gojq --raw-output .clientVersion.gitVersion)" \
              --name=chart-testing
        env:
          KUBECONFIG: ct-kind-kubeconfig

      - if: steps.list-changed.outputs.changed == 'true'
        name: Build Docker images
        run: |
          devbox run -- \
            make release-snapshot

      - if: steps.list-changed.outputs.changed == 'true'
        name: Sideload docker image
        run: |
          devbox run -- \
            kind load docker-image \
              --name chart-testing \
              "ko.local/cluster-api-runtime-extensions-nutanix:$(devbox run -- gojq -r .version dist/metadata.json)"

      - if: steps.list-changed.outputs.changed == 'true'
        name: Setup Cluster API and cert-manager
        run: |
          devbox run -- \
            make clusterctl.init
        env:
          KIND_KUBECONFIG: ct-kind-kubeconfig

      - if: steps.list-changed.outputs.changed == 'true'
        name: Run chart-testing (install)
        run: |
          devbox run -- \
            ct install \
              --config charts/ct-config.yaml \
              --helm-extra-set-args "--set-string image.repository=ko.local/cluster-api-runtime-extensions-nutanix --set-string image.tag=$(devbox run -- gojq -r .version dist/metadata.json)"
        env:
          KUBECONFIG: ct-kind-kubeconfig

      - if: steps.list-changed.outputs.changed == 'true' && always()
        name: Delete chart-testing KinD cluster
        run: |
          devbox run -- \
            kind delete cluster --name chart-testing || true

  govulncheck:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        module: [api, common, .]
      fail-fast: false
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          work-dir: ${{ matrix.module }}
          go-version-file: go.mod
          check-latest: true
