# Copyright 2024 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

on:
  workflow_call:
    inputs:
      provider:
        description: Infrastructure provider to run e2e tests with
        type: string
        required: true
      skip:
        description: e2e tests to skip
        type: string
      focus:
        description: e2e tests to focus
        type: string
      runs-on:
        description: The runner to run the e2e tests on
        type: string
        required: true
      kubernetes-version:
        description: The version of Kubernetes to test with
        type: string
        required: true
      os-image:
        description: The OS image to use for the machine template
        type: string
        required: false

jobs:
  e2e-test:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: read
      checks: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Install nix using cachix/install-nix-action if running on ARC runners
      # See: https://github.com/DeterminateSystems/nix-installer-action/issues/68
      - name: Install Nix on self-hosted ARC runners
        uses: cachix/install-nix-action@v30
        if: inputs.runs-on == 'self-hosted-ncn-dind'
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.11.0
        with:
          enable-cache: ${{ inputs.runs-on != 'self-hosted-ncn-dind' }}
          skip-nix-installation: ${{ inputs.runs-on == 'self-hosted-ncn-dind' }}

      - name: Go cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Login to Internal Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.LOCAL_IMAGE_REGISTRY }}
          username: ${{ secrets.LOCAL_IMAGE_REGISTRY_USERNAME }}
          password: ${{ secrets.LOCAL_IMAGE_REGISTRY_TOKEN }}

      # The default disk size of Github hosted runners is ~14GB, this is not enough to run the e2e tests.
      # Cleanup the disk, see upstream discussion https://github.com/actions/runner-images/issues/2840.
      - name: Cleanup Disk Space
        if: inputs.runs-on != 'self-hosted-ncn-dind'
        run: |
          echo "Before removing files:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "${AGENT_TOOLSDIRECTORY}"
          echo "After removing files:"
          df -h

      - name: Run e2e tests
        run: devbox run -- make e2e-test E2E_LABEL='provider:${{ inputs.provider }}' E2E_SKIP='${{ inputs.skip }}' E2E_FOCUS='${{ inputs.focus }}' E2E_VERBOSE=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
          NUTANIX_ENDPOINT: ${{ secrets.NUTANIX_ENDPOINT }}
          NUTANIX_USER: ${{ secrets.NUTANIX_USER }}
          NUTANIX_PASSWORD: ${{ secrets.NUTANIX_PASSWORD }}
          NUTANIX_PORT: ${{ vars.NUTANIX_PORT }}
          NUTANIX_INSECURE: false
          NUTANIX_PRISM_ELEMENT_CLUSTER_NAME: ${{ vars.NUTANIX_PRISM_ELEMENT_CLUSTER_NAME }}
          NUTANIX_SUBNET_NAME: ${{ vars.NUTANIX_SUBNET_NAME }}
          NUTANIX_STORAGE_CONTAINER_NAME: ${{ vars.NUTANIX_STORAGE_CONTAINER_NAME }}
          NUTANIX_MACHINE_TEMPLATE_IMAGE_NAME: ${{ inputs.os-image }}
          KINDEST_IMAGE_TAG: ${{ inputs.kubernetes-version }}
          E2E_KUBERNETES_VERSION: ${{ inputs.kubernetes-version }}
          LOCAL_IMAGE_REGISTRY: ${{ secrets.LOCAL_IMAGE_REGISTRY }}

      - if: success() || failure() # always run even if the previous step fails
        name: Publish e2e test report
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: 'junit-e2e.xml'
          check_name: 'e2e test report'
          detailed_summary: true
          require_passed_tests: true
