# Copyright 2026 Nutanix. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../../../additional-resources/nutanix/flow-image-pull-secret.yaml
- ../../../../../bases/nutanix/cluster

sortOptions:
  order: fifo

components:
- ../../../../../components/cni/flow
- ../../../../../components/slb/metallb/nutanix
